*~
pm
.gitignore
*.core
core
Build
blib
*.bak
*_wrap\.*
\.*sw?
_build
tmp*
pod2htm*
lib/Math/GSL/[A-z0-9]*\.pm
Makefile
*.data
foo*
tags
.DS_Store
xs/*_wrap.c
swig/renames.i
swig/renames.*.i
swig/system.i
.prove
Math-GSL-*/
MYMETA.yml
META.yml
Makefile.PL
Math-GSL-*.gz
cover_db/*
META.json
MYMETA.json
